* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  border: 2px solid black;
  width: 900px;
  height: 900px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
}

.square {
  flex: 1;
}