* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

.board {
  border: 1px solid black;
  width: 900px;
  height: 900px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.row {
  display: flex;
  flex: 1;
}

.square {
  flex: 1;
  /* border: 1px solid; */
}

.clearing {
  font-size: 20px;
  border-radius: 8px;
  background-color: chocolate;
  border: 2px chocolate solid;
  padding: 5px;
}
